:root{
    --light-pink: #f2e3e6;
    --mild-pink: #ed83b5;
    --dark-pink: #ec297b;
    --yellow: #fff486;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: var(--mild-pink);
    font-family: "League Spartan", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    background-color: var(--light-pink);
    border-bottom: 5px solid var(--yellow);
    width: 100%;
    padding: 10px 20px;
}
.nav-link{
  padding: 8px 16px;
  display: inline-block;
}

#nav-bar a{
  text-decoration: none;
  color: var(--dark-pink);
}

#nav-bar li:hover{
  background-color: var(--yellow);
  cursor: pointer;
}