:root{
    --light-pink: #f2e3e6;
    --mild-pink: #ed83b5;
    --dark-pink: #ec297b;
    --yellow: #fff486;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: var(--mild-pink);
    font-family: "League Spartan", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    background-color: var(--light-pink);
    border-bottom: 5px solid var(--yellow);
    width: 100%;
    padding: 10px 20px;
    z-index: 10;
}

#nav-bar a{
  text-decoration: none;
  color: var(--dark-pink);
  padding: 8px 16px;
  display: inline-block;
}

#nav-bar a:hover{
  background-color: var(--yellow);
  transition: .5s;
}

#hero{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-height: 60vh;
  position: relative;
  text-align: center;
  padding-top: 200px;
}

.herocontent{
  width: 100%;
}

.title{
  font-size: 2.5rem;
}

.form-container{
  margin-top: 20px;
}

#form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#email{
  line-height: 25px;
  padding-right: 50px;
}

#submit{
  background-color: var(--yellow);
  padding: 5px;
  color: black;
  font-family: "League Spartan";
  font-size: large;
}

input[type="email"]{
  margin-bottom: 10px;
}

